<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">">
    <title>Diet Plan</title>
    <link rel="stylesheet" href="/static/diet.css">
</head>

<body>
    <div class="container">
    <p>
    <h1>1. Control your portion size</h1><br>
    <ul>
        <li>Use a small plate or bowl to help control your portions.</li> <br>
        <li>Eat more low-calorie, nutrient-rich foods, such as fruits and vegetables</li><br>
        <li>Eat smaller amounts of high-calorie, high-sodium foods, such as refined, processed or fast foods.</li>
    </ul>
    </p><br>
    <p>
    <h1>2. Eat more vegetables and fruits</h1><br>
    Vegetables and fruits are good sources of vitamins and minerals. Vegetables and fruits are also low in calories
    and rich in dietary fiber.
    <br><br>
    <h3>Fruits and vegetables to choose</h3><br>
    <ul>
        <li>Fresh or frozen vegetables and fruits</li><br>
        <li>Low-sodium canned vegetables</li><br>
        <li>Canned fruit packed in juice or water</li>
    </ul><br>
    <h3>Fruits and vegetables to limit</h3><br>
    <ul>
        <li>Coconut</li><br>
        <li>Vegetables with creamy sauces</li><br>
        <li>Fried or breaded vegetables</li><br>
        <li>Canned fruit packed in heavy syrup</li><br>
        <li>Frozen fruit with sugar added</li>
    </ul>
    </p><br>
    <p>
    <h1>3. Select whole grains</h1><br>
    Whole grains are good sources of fiber and other nutrients that play a role in regulating blood pressure and heart
    health.
    <br><br>
    <h3>Grain products to choose</h3><br>
    <ul>
        <li>Whole-wheat flour</li><br>
        <li>Whole-grain bread, preferably 100% whole-wheat bread or 100% whole-grain bread</li><br>
        <li>High-fiber cereal with 5 g or more fiber in a serving</li><br>
        <li>Whole grains such as brown rice, barley and buckwheat</li><br>
        <li>Whole-grain pasta</li><br>
        <li>Oatmeal</li>
    </ul><br>
    <h3>Grain products to limit or avoid</h3><br>
    <ul>
        <li>White, refined flour</li><br>
        <li>White bread</li><br>
        <li>Muffins</li><br>
        <li>Frozen waffles</li><br>
        <li>Cornbread</li>
    </ul>
    </p><br>
    <p>
    <h1>4. Limit unhealthy fats</h1><br>
    Limiting how much saturated and trans fats you eat is an important step to reduce your blood cholesterol and lower
    your risk of coronary artery disease.
    <br><br>
    There are simple ways to cut back on saturated and trans fats <br>
    <ul><br>
        <li>Trim fat off meat or choose lean meats with less than 10% fat.</li><br>
        <li>Use less butter, margarine and shortening when cooking and serving.</li><br>
        <li>Use low-fat substitutions when possible for a heart-healthy diet.</li>
    </ul>
    </p><br>
    <p>
    <h1>5. Choose low-fat protein sources</h1><br>
    Lean meat, poultry and fish, low-fat dairy products, and eggs are some of the best sources of protein. Choose lower
    fat options, such as skinless chicken breasts rather than fried chicken patties and skim milk rather than whole
    milk. <br><br>
    <h3>Proteins to choose</h3><br>
    <ul>
        <li>Eggs </li><br>
        <li>Fish, especially fatty, cold-water fish, such as salmon</li><br>
        <li>Skinless poultry</li><br>
        <li>Legumes</li>
    </ul><br>
    <h3>Proteins to limit or avoid</h3><br>
    <ul>
        <li>Fatty and marbled meats</li><br>
        <li>Spareribs</li><br>
        <li>Hot dogs and sausages</li><br>
        <li>Bacon</li><br>
        <li>Fried or breaded meats</li>
    </ul>
    </p>
</div>
</body>

</html>