<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mdiet.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>Emphasize Fruits and Vegetables:</h2><br>
        <p>Aim to fill half your plate with fruits and vegetables at each meal.They are rich in vitamins, minerals,
            antioxidants, and fiber, which are beneficial for heart health.</p><br>
        <h2>Include Lean Proteins:</h2><br>
        <p> Incorporate lean protein sources such as skinless poultry, fish, beans, lentils, tofu, and legumes into your
            meals. These protein sources are lower in saturated fat compared to red meat and processed meats.</p><br>

        <h2>Limit Saturated and Trans Fats:</h2><br>
        <p>Reduce your intake of saturated fats found in fatty meats, full-fat dairy products, and processed foods.
            Avoid trans fats found in fried foods, baked goods, and packaged snacks, as they can increase bad
            cholesterol levels and raise the risk of heart disease.</p><br>

        <h2>Choose Healthy Fats:</h2><br>
        <p> Include sources of healthy fats such as olive oil, nuts, and seeds in your diet. These fats can help improve
            cholesterol levels and reduce inflammation.</p><br>

        <h2>Limit Added Sugars and Salt:</h2><br>
        <p> Minimize your consumption of foods and beverages high in added sugars, such as soda, candy, and desserts.
            Also, watch your salt intake by choosing low-sodium options and limiting the use of salt in cooking and at
            the table.</p><br>

        <h2>Stay Hydrated:</h2><br>
        <p> Drink plenty of water throughout the day to stay hydrated and support overall health.</p><br>

        <h2>Limit Alcohol:</h2><br>
        <p> If you drink alcohol, do so in moderation. Limit alcohol intake to no more than one drink per day for women
            and up to two drinks per day for men.</p><br>

        <h2>Be Consistent:</h2><br>
        <p> Consistency is key to maintaining a heart-healthy diet. Aim to make healthy eating choices a regular part of
            your lifestyle.</p><br>
    </div>
</body>

</html>